#navbar{
    display: flex;
    height: 20px;
    justify-content: space-between;
    /* padding: 10px; */
}
#search_input{
    width: 80%;
}
.news{
    border: 1px solid skyblue;
    height: 100px;
    width: auto;
    margin-bottom: 10px;
    display: flex;
    padding: 10px;
}
img{
    
    height: 100%;
    width: 200px;
}
.text{
    border: 1px hidden black;
    box-sizing: border-box;
    height: auto;
    width: auto;
    margin-left: 10px;
    font-size: 10px;
    
}
